SECRET_KEY=CHANGE_TO_A_LONG_RANDOM_SECRET
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,YOUR_LAPTOP_IP
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8080,http://YOUR_LAPTOP_IP:8080
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8080,http://YOUR_LAPTOP_IP:8080

POSTGRES_DB=inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_TO_STRONG_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

USE_MINIO=False
MINIO_INTERNAL_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_MEDIA=invms-media
MINIO_REGION=us-east-1

VITE_API_BASE_URL=http://YOUR_LAPTOP_IP:8000/api/
